/**CSS del footer*/

.footer {
    background-color: rgb(35, 35, 35);
    background-image: url(../assets/images/brushed-alum-dark.png);
    text-align: center;
    padding: 80px 50px;
}

.footer a {
    color: var(--fourth-color);
}

.footer a:hover {
    color: var(--second-color);
}