/**CSS correspondiente a la página prices.html*/

.prices__accordion {
    min-width: 360px;
}

.activity {
    transition: transform 1.5s, z-index;
}

.activity:hover {
    transform: scale(1.5);
    z-index: 5;
}