/** CSS general de RiberaGym */


/**Cargo las fuentes que voy a utilizar */

@font-face {
    font-family: Bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Promesh;
    src: url(../assets/fonts/PROMESHMesh-Regular.ttf);
}

/** Paleta de colores y fuentes*/
:root {
    --first-color: #566c97;
    --second-color: #3DA5A8;
    --third-color: #399C78;
    --fourth-color: #c6ad6e;
    --fifth-color: #c5af81;
    --title-font: Promesh;
    --subtitle-font: Bebas;
}

/*Estilo general de la página*/
body {
    color: rgb(35, 35, 35);
    margin: 0 auto;
    width: 100%;
    min-width: 375px;
    max-width: 1600px;
    background-color: rgb(107, 107, 107);
}

a {
    color: rgb(106, 106, 106);
    text-decoration: none;
}

ul {
    list-style: none;
}


/** BOTONES: Botones que utilizaré en todas las pags */
/* Botone con background opción 1*/
.btn__bg--first {
    border-color: var(--first-color);
    color: whitesmoke;
    background-color: var(--first-color);
    transition: border-color .8s ease, color .8s ease, background-color .8s ease;
}

.btn__bg--first:hover {
    border-color: var(--first-color);
    color: var(--first-color);
    background-color: whitesmoke;
}

/* Boton con background opción 2*/
.btn__bg--second {
    border-color: var(--fifth-color);
    color: whitesmoke;
    background-color: var(--fifth-color);
    transition: border-color .8s ease, color .8s ease, background-color .8s ease;
}

.btn__bg--second:hover {
    border-color: var(--first-color);
    color: whitesmoke;
    background-color: var(--first-color);
}

/* Botone sin background*/
.btn__bgnfirst {
    border-color: var(--third-color);
    color: var(--third-color);
    background-color: transparent;
    transition: border-color .8s ease, color .8s ease, background-color .8s ease;
}

.btn__bgnfirst:hover {
    border-color: var(--second-color);
    color: whitesmoke;
    background-color: var(--second-color);
}

/** Backgound de las distintas secciones que utilizaré en las páginas */
.bg__first {
    background-color: rgb(213, 208, 208);
}

.bg__second {
    background-color: var(--first-color);
}

.bg__third {
    background-color: var(--fifth-color);
}

.bg__fourth {
    background-color: var(--second-color);
}

/*Texto de los títulos de las secciones*/

.section__text {
    font-family: var(--subtitle-font);
}